*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:antiquewhite;
    /* margin: 5%; */
    width: 320px;
}
.container{
   background-color: white;
   width:100%;
   margin:1px;
   padding:10px;
   text-align:center;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.708);
}

header{
    background-color: rgba(128, 128, 128, 0.282);
    line-height: 1rem;
}
h1{
    font-size:small;
    font-weight:70px;
    padding-top: 20px;
}
h2{
    font-size: small;
    text-align: auto;
}      
  .head{
 text-align:center;
 padding-bottom: 10px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: left; 
    font-size: xx-small;
}
img{
    width: 95%;
    height: 100px;
    border-radius: 1vw;
}
  

p{
    font-family:ui-serif;
    text-align: left;
    font-size: xx-small;
}
footer{
    background-color: rgba(0, 0, 0, 0.867);
    height: 59px;
    text-emphasis-color: white;
      
}
 .foot{
 font-size:xx-small;
 padding-top: 15px;
 color: aliceblue;
}
